h3
{
    font-size: 25px !important;
}
.btn-success:hover
{
    background-color: black;
}

canvas {
    animation-name: yashas;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


@keyframes yashas {
    from {box-shadow: 1px 1px 38px gold;}
    to {box-shadow: 1px 1px 38px aqua;}
}